<form method="POST">
    <label for="">name</label>
    <input type="text" name='name'>
    <label for="">password</label>
    <input type="text" name='password'>
    <label for="">confirm password</label>
    <input type="text" name='cpassword'>
    <label for="">email</label>
    <input type="text" name='email'>
    <button type="submit">sign up</button>
</form>
